html { 
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body, .container-fluid {
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

/* ***************** */
/* TITLE AND HEADER */
/* *************** */

@media (min-width: 0) {
    .jumbotron {
        padding: 1rem 2rem !important;
    }
}

.btn {
    margin-right: 10px !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: #ffffff !important;
    background-color: #1F2838 !important;
    border-color: #494F57 !important;
}

#playButtons {
    width: 100%;
    text-align: center;
}

.playButton {
    font-size: 2rem;
    margin-right: 0 !important;
}

a.dropdown-item {
    color: black !important;
    font-size: 1rem !important;
}

.section-title {
    color: #ffffff;
}

/* ************* */
/* SCORES TABLE */
/* *********** */

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.category-container {
    margin: 20px 0;
}

.table-responsive-sm {
    background-color: #FFFFFF;
}

th, td {
    vertical-align: middle !important;
    text-align: center;
}

/* ******* */
/* AWARDS */
/* ***** */

.card-img-top {
    height: 150px;
    width: 150px;
    margin: auto;
}

.top{
    font-weight: bold;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}